<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurantes Dolores Hidalgo</title>
    <link rel="stylesheet" href="restaurantes.component.css">
</head>
<body>
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-6 text-center">Restaurantes Dolores Hidalgo</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            
            <!-- Restaurante 1 -->
            <div class="package-card">
                <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/341018945_736506231220089_7525412267809090484_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=Z7-YLq9hGmQQ7kNvgFWA6jp&_nc_ht=scontent-iad3-1.xx&oh=00_AYA5nqW1zC-IUMzU5d7DanCR3_DbM6oAITVK_0gkzdS4aA&oe=66B0334C" alt="Restaurante Toro Rojo">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Restaurante Toro Rojo</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Restaurante 2 -->
            <div class="package-card">
                <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/274154958_341591097973552_9177908704882094049_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=0Us3QJwes20Q7kNvgEhqv8H&_nc_ht=scontent-iad3-1.xx&gid=AlEit0PLCDHN_2IAJxezdkQ&oh=00_AYAHk1PulnKmaUrbfeu7cnzAvP_ELERkjPAo2pEHEmCZAQ&oe=66B00905" alt="Restaurante Amor Eterno">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Restaurante Amor Eterno</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Restaurante 3 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/396272656_827434442723527_1390415874246747277_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=prnBGOc-tg8Q7kNvgEVVKk9&_nc_ht=scontent-iad3-2.xx&gid=AXTEz98SIwxx1faQ0hel2hQ&oh=00_AYBwIKKmvq5qTRZjhZsEZY2Rq81tJBR9nzwHy8jzUZ782Q&oe=66B016EF" alt="El Fruty Restaurant">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">El Fruty Restaurant</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Restaurante 4 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/447453879_472312268800799_8736994808912996197_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=toEe1-pJ52sQ7kNvgE9NZCs&_nc_ht=scontent-iad3-2.xx&oh=00_AYBdGpDWi-y5ekdsGPNJirWyiFcebqqX7U63XI98L5hO3w&oe=66B01A7B" alt="Restaurante Máma Dolores">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Restaurante Máma Dolores</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Restaurante 5 -->
            <div class="package-card">
                <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/301967766_451836783654564_9020620332169472840_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=PXhusxuu_eoQ7kNvgGrMthz&_nc_ht=scontent-iad3-1.xx&gid=A84Z7-kFYOQHFnhFe2wXqw0&oh=00_AYDvwT2d1a-b47v9fbxDXPqIM-TxBpdnKFj1PILaUeTu4A&oe=66B00999" alt="Restaurante Ma Lele">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Restaurante Ma Lele</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Restaurante 6 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/301152903_561962639070276_3618665986221831555_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=yNJw08492CUQ7kNvgGAxpxZ&_nc_ht=scontent-iad3-2.xx&oh=00_AYAZoHHcpH6uouihcpuSsfmIBzFaHO1wf81YWzvKysZaKw&oe=66B00838" alt="Cafeteria “Mostacho 28”">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Cafeteria “Mostacho 28”</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Restaurante 7 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/430173259_814111694069761_1504745489228295480_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=NzXHRghrDz4Q7kNvgFy10ck&_nc_ht=scontent-iad3-2.xx&gid=ADSSJxoZjtWI8CGVzYpsssG&oh=00_AYC0MEzrm6xBdpVKu3y4CLd_8eX4xdVMgHCriuNRUOLWvg&oe=66B006CB" alt="Carnes Asadas Los Chemas Dolores Hidalgo">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Carnes Asadas Los Chemas Dolores Hidalgo</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Restaurante 8 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/272925365_3045174269036485_2988110624999022494_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=N8ooC-dce4UQ7kNvgEZQ_Qs&_nc_ht=scontent-iad3-2.xx&oh=00_AYDLuMWi15LK8ltc5pO_jGEtSHYV49V4lJ9mUuDa2uSQSg&oe=66B0089B" alt="Restaurante Don Camarón">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Restaurante Don Camarón</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Restaurante 9 -->
            <div class="package-card">
                <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/267869288_104904465385745_3795551813514801600_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=qvQd34Tf4p8Q7kNvgG3g8l5&_nc_ht=scontent-iad3-1.xx&gid=AY-JWiKYx2ijj-nI4FmzaTc&oh=00_AYBoTz8sSuQOvPMBztVzdK1IjpCegZEXdU9ccFLdKICpMQ&oe=66B03161" alt="EL OLIVO RESTAURANTE">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">EL OLIVO RESTAURANTE</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Restaurante 10 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/235852920_4422945657725572_7212441405426842904_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=aJMsChmXGewQ7kNvgHbFqJF&_nc_ht=scontent-iad3-2.xx&oh=00_AYCv6J9SKbNCfh-jMMI-SBxl0hoFJUGJmwctKxlS_AFjdg&oe=66B02B08" alt="Restaurante San Bernardino - Sabores de Mi Tierra">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Restaurante San Bernardino - Sabores de Mi Tierra</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
