<mat-horizontal-stepper [linear]="isLinear">
  <mat-step label="Actualizar Información Básica">
    <form [formGroup]="updFormGroup" (ngSubmit)="openConfirmDialog()">
      <mat-form-field appearance="fill">
        <mat-label>Seleccionar Hotel</mat-label>
        <mat-select (selectionChange)="onHotelSelected($event.value)">
          <mat-option *ngFor="let hotel of hotels" [value]="hotel.nombreHotel">
            {{ hotel.nombreHotel }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nombre Hotel</mat-label>
        <input matInput formControlName="nombreHotel" placeholder="Nombre Hotel">
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="descripcion" placeholder="descripcion" >
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Calificación</mat-label>
        <input matInput formControlName="calificacion" type="number" step="0.1" min="0" max="5" placeholder="Calificación">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Número de Habitaciones</mat-label>
        <input matInput formControlName="numeroHabitacion" type="number" placeholder="Número de Habitaciones">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Costo</mat-label>
        <input matInput formControlName="costo" type="number" step="0.01" placeholder="Costo">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>URL de la Imagen</mat-label>
        <input matInput formControlName="imageUrl" placeholder="URL de la imagen">
      </mat-form-field>
      
      <button mat-button type="submit">Actualizar</button>
    </form>
  </mat-step>
</mat-horizontal-stepper>
