<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteles Dolores Hidalgo</title>
    <link rel="stylesheet" href="hoteles.component.css">
</head>
<body>
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-6 text-center">Hoteles Dolores Hidalgo</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Hotel 1 -->
            <div class="package-card">
                <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.6435-9/144980405_684475148913072_5376336238752969143_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=3a1ebe&_nc_ohc=pcsgOpQfPFQQ7kNvgHyOoro&_nc_ht=scontent-iad3-1.xx&oh=00_AYBhUAbfzJF2VeJN0rv6ez8USGbcSi_6LvEulYUaow9PPw&oe=66D05C96" alt="Hotel-Spa Posada Bonita">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel-Spa Posada Bonita</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 2 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/294059326_469397461852902_7049798942621017056_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=Chgr1wFPGaAQ7kNvgGcZRUJ&_nc_ht=scontent-iad3-2.xx&gid=A7lY6Bz_yntgK1BK45K-gvx&oh=00_AYAqsQch1HIOZAsZDg0zKqgmWB73UrJRjKiLi_BKZ_XSsA&oe=66AEBAAA" alt="Cielito Lindo">
                <div class="p-4">
                    <h2 class="text-xl font-semibold mb-2">Cielito Lindo</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 3 -->
            <div class="package-card">
                <img src="https://lh5.googleusercontent.com/-NfCsKCZiB4M/WFMUD1CCTgI/AAAAAAAAAD8/7cXh26Okktc-psAKiGGWXG7qreqB-A0NQCLIB/photo.jpg" alt="Hotel Posada Las Campanas">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel Posada Las Campanas</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 4 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/298366688_558365742478986_1712245217128132422_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=0TA4n2oR01oQ7kNvgF22jnZ&_nc_ht=scontent-iad3-2.xx&oh=00_AYBDDSxVLvFW5wmzffyAS6cY8lUvEU7JWUTZCnfNIg8DCQ&oe=66AEE4FB" alt="Hotel casa azul">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel Cielito Lindo</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 5 -->
            <div class="package-card">
                <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/308045933_110780081785312_5229206735225158049_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=MDT_wYvWtL0Q7kNvgEbXg6k&_nc_ht=scontent-iad3-1.xx&oh=00_AYDzXxsSvlG7P9YNYqbnX6ya9IVJyUeLvh82aFgmlK6aqw&oe=66AEE28E" alt="Hotel Anber">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel Anber</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 6 -->
            <div class="package-card">
                <img src="https://img.guruhotel.dev/insecure/rs:fill:400/g:sm/czM6Ly9ndXJ1aG90ZWxmaWxlcy9wcm9kdWN0aW9uLzE2MTNhZmY2LWMzODktNDY3OS04YjZmLTc5ZWI5YjljZjU4ZC9pbWFnZS0xNzEyMDkxMTc1MzkwLnBuZw==.webp" alt="Hotel Relicario">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel Relicario</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 7 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/359805443_755015473087665_6949962017768742736_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=tu9drpDRBFUQ7kNvgHphiLv&_nc_ht=scontent-iad3-2.xx&oh=00_AYDZMQsLY9IBPOtK-1Vwu7lwqnH3qFP2tmN0322sH-uiUQ&oe=66AECB43" alt="Hotel San Diego">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel San Diego</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 8 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/430494686_122110695302221575_6898240326311389146_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=hVpWV3op8z8Q7kNvgEsh-WX&_nc_ht=scontent-iad3-2.xx&oh=00_AYAlbHgClCIy74EryJlo9gHoskxdH6aTJrQuk5F60-Qe1Q&oe=66AEE1DB" alt="Hotel casa México">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel Casa Mexico</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 9 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/310742833_196962142707811_8344166729356559793_n.png?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=-cmu82FiG34Q7kNvgGV2Ply&_nc_ht=scontent-iad3-2.xx&oh=00_AYANj5i9Kx6_3xHYwBZZZDvSMEU6-mgnHhVTNAlSoHF4ew&oe=66AED84D" alt="Hotel Boutique Casa Tres Raíces">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel Boutique Casa Tres Raíces</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 10 -->
            <div class="package-card">
                <img src="https://hotel-galeria-el-refugio-dolores-hidalgo.hotelmix.es/data/Photos/1920x1080/10053/1005358/1005358090/Hotel-Galeria-El-Refugio-Dolores-Hidalgo-Exterior.JPEG" alt="Hotel Galería “El Refugio”">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel Galería "El Refugio"</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 11 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/275381056_1278058112597738_9170427060765743789_n.jpg?stp=dst-jpg_s960x960&_nc_cat=109&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=7_5cA7Nd7sIQ7kNvgEIYmHN&_nc_ht=scontent-iad3-2.xx&oh=00_AYBuNBkRplXya2sOsxsSjB7wCwGpTpUtPJqb6dtEYAcMPg&oe=66AED1FC" alt="Hotel “Cabaña los Nogales”">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel "Cabaña los Nogales"</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 12 -->
            <div class="package-card">
                <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/405267830_850727186842128_8653659323632832425_n.jpg?stp=cp6_dst-jpg&_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=bWPLekVfMAQQ7kNvgHAi3XJ&_nc_ht=scontent-iad3-1.xx&gid=AUCeTNljuUXYivVtPQsdjLS&oh=00_AYDyO192QSFEbwlcLID_Dj_sGz0utbX5a3Q-ijmnhlXLCQ&oe=66AEC929" alt="El jazmín de “Zanya”">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel el Jazmín se "Zanya"</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 13 -->
            <div class="package-card">
                <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t39.30808-6/302435953_605485584610288_1157384081887258541_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=UJlKii15NUsQ7kNvgEEjLOI&_nc_ht=scontent-iad3-1.xx&oh=00_AYBVqRBfrFNyJP_z5guqhaj_TlzjiEYI6JEtlo9fCoQYZw&oe=66AEEAE9" alt="Hotel boutique casa pozo del rayo">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel Boutique Casa Pozo del Rayo</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 14 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-1/234857061_1152963678530340_8135473138068626214_n.jpg?stp=dst-jpg_p200x200&_nc_cat=105&ccb=1-7&_nc_sid=f4b9fd&_nc_ohc=yFvEIPjyx10Q7kNvgFLrTw1&_nc_ht=scontent-iad3-2.xx&oh=00_AYBLxTkDLrnjtk18g3u7l67npCc9ggJ0n203-seqJnDPNQ&oe=66AEF036" alt="Hotel Posada San Bernardino">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel Posada San Bernardino</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>

            <!-- Hotel 15 -->
            <div class="package-card">
                <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/259945113_1798796656971314_1957584786973683796_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=-UiCjeOE1BcQ7kNvgGwZUPU&_nc_ht=scontent-iad3-2.xx&oh=00_AYD7a6J2YuLPBETy3NNkQ2240MJ7sWdygEfG7zSEY_ZllQ&oe=66B030C1" alt="Hotel Posada Hidalgo">
                <div class="p-7">
                    <h2 class="text-xl font-semibold mb-2">Hotel Posada Hidalgo</h2>
                    <button class="details-button">Más Detalles</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>