<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="inicio.component.css" rel="inicio.component.css">
</head>
<body>
    <div class="hero">
        <div class="content">
        </div>
    </div>

    <section id="more-info" class="info-section">
        <h2>Historia de Dolores Hidalgo</h2>
        <p>La historia de la ciudad está ligada al origen de la vida de la hacienda La Erre, fundada para la cría de ganado y de la que se compra parte para el trazo original del pueblo. El cura don Miguel Hidalgo edificó talleres para la enseñanza de la alfarería, carpintería y la elaboración de textiles, plantó moreras, millares de vides y se ocupó de adiestrar a agricultores y artesanos. Dolores Hidalgo es fundamental en la historia de México, pues aquí inició el movimiento de Independencia. De ahí que se denomine a esta ciudad “Cuna de la Independencia”.</p>
        <h2>Conozcamos Dolores Hidalgo</h2>
        <p>Las artesanías aquí destacan por expresiones únicas como la Talavera o la cerámica Mayólica, técnicas de grandes colores vivos que mantienen viva una tradición centenaria.</p>
        <p>Las nieves aquí se conocen por ser de sabores únicos, rinden un tributo a la cocina mexicana en sabores tan exóticos como mole o chicharrón y algunos frutos endémicos como el garambullo.</p>
        <p>Con un importante patrimonio histórico que esta presente en sus calles y plazas, podemos visitar puntos tan emblemáticos como La parroquia de Nuestra Señora de los Dolores, La casa de visitas, La casa de Abasolo que fue convertida en museo con motivo de los festejos del Bicentenario de la Lucha de Independencia Nacional.</p>
        <p>En los alrededores de la ciudad se pueden visitar sitios importantes como el colorido mausoleo en honor a José Alfredo Jiménez en el panteón municipal, la histórica hacienda de la Erre o el Llanito lugar perfecto para conocer la gastronomía Otomí que aún se conserva.</p>
        <p>La actividad enoturística esta presente en el museo del vino, el segundo museo dedicado exclusivamente a la actividad enológica en México y también se pueden recorrer los hermosos viñedos que se encuentran en las orillas de la ciudad.</p>
    </section>
    <footer>
    <p>&copy; 2024 Si. Todos los derechos reservados.</p>
    <!-- Pie de página con derechos de autor -->
  </footer>
</body>
</html>
